name: "Validate and generate"
on:
  push:
    branches:
      - main
    tags:
      - v*
    paths:
      - openapi.yaml

  pull_request:
    types: [ opened, synchronize ]
    paths:
      - openapi.yaml

  workflow_dispatch:
jobs:
  validate:
    name: "Validate the OpenAPI specification"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate OpenAPI specification
        uses: swaggerexpert/swagger-editor-validate@v1
        with:
          definition-file: ./openapi.yaml

  generate:
    name: Generate client
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23.0

      - name: Install Oapi Codegen
        run: |
          go install github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen@latest
          go generate ./...

      - name: Push the generated code
        uses: stefanzweifel/git-auto-commit-action@v7
        if: github.event_name == 'pull_request'
        with:
          commit_message: "[Autogen] Generated client and server code from OpenAPI spec"

      - name: Create a pull request
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "[Autogen] Generated client from OpenAPI spec"
          title: "[Autogen] OpenAPI client update"
          body: "OpenAPI client (re)generated from the latest OpenAPI spec."
          branch: "openapi/autogen-${{ github.sha }}"
          base: main
          labels: autogen